  <div class="box" style="margin-top: 50px; background-color: palegreen;">
    <p class="is-size-1" style="text-align: center; "> <%= @community.name %> </p>
   <%= button_to "Follow", posts_path(post: {community_id: @community.id }), class: 'button is-success', style: 'margin-left: 650px;' %> </p>
   <div style="margin-right: 500px; text-align:center">
    <span class="tag is-danger"> Members <%= @community.users.count  %></span>
  </div> 
  </div>



  <%= link_to "back", communities_path, class: "button is-link is-outlined" %>

  <% if @member.present? %>
  <div class="dropdown is-hoverable is-pulled-right", style= "margin-right: 150px;">
    <div class="dropdown-trigger">
      <button class="button" aria-haspopup="true" aria-controls="dropdown-menu4">
        <span>Leave</span>
        <span class="icon is-small">
          <i class="fas fa-angle-down" aria-hidden="true"></i>
        </span>
      </button>
    </div>
    <div class="dropdown-menu" id="dropdown-menu3" role="menu">
      <div class="dropdown-content">
        <div class="dropdown-item">
          <%= link_to "Leave group",  membership_path(id: params[:id]), method: :delete %>
        </div>
      </div>
    </div>
  </div>
<% end %>

  

  <div class="box" style="width: 600px; margin-left: 450px; margin-top: 30px;">

      <%= form_with model: @community.comments.build do |f| %>
      <%= f.hidden_field :community_id, value: @community.id %>
      <div class="field">
          <label class="label">Title</label>
          <%= f.text_field :title, class: "input", placeholder: 'enter your title' %>
        </div>  
        <div class="field">
          <label class="label">Description</label>
          <%= f.text_area :description, class: "textarea", placeholder: 'enter your comments' %>
        </div>   
        <%= f.submit "add comments" , class: 'button is-success' %>
      <% end %>

  </div>
 


  <% @comments.each do |c| %>
  <div class="box" style="width: 600px; margin-left: 450px; margin-top: 30px;">
    <div class="field">
      <label class="label">Title</label>
      <p> <%= link_to c.title, answers_path(id: c.id) %> </p>
      <hr>
      <%= c.description %>
    </div>
  </div>
  <% end %>
