  <div class="box" style="margin-top: 50px; background-color: palegreen;">
    <p class="is-size-1" style="text-align: center; "> <%= @community.name %> </p>
    <%= button_to "Follow", posts_path(post: {community_id: @community.id }), style: "margin-left:650px;", class: 'button is-success'%>
   <div style="margin-right: 500px; text-align:center">
  </div> 
  </div>
  <%= link_to "back", communities_path, class: "button is-link is-outlined" %>



  
<div class="columns">
<div class="column">
  <div class="box" style="width: 650px; margin-left: 250px; margin-top: 30px;">
    <%= render 'form' %>
    <% @comments.each do |c| %>
    <div class="field">
      <label class="label"> <%= c.title %> </label>
      <p>  </p>
      <hr>
      <%= c.description %>
      <br>
      <span class="tag">
        <%= link_to 'comment', answers_path(id: c.id) %>
        
      </span>
    </div>
  <% end %>
</div>
</div>
 
<div class="column">

  <div class="box" style="width:400px";>
    <h1 class="title is-3" style="text-align: center; "> <%= @community.name %> </h1>
    <span class="tag is-danger"> Members <%= @community.users.count  %></span>
    <% if @member.present? %>
      <%= link_to "Leave group",  membership_path(id: params[:id]), method: :delete, class: "is-link is-pulled-right" %>
    </div>
  <% end %>
  </div>
</div>

</div>
 
 


 