

create communites her 
<div style="margin-top: 20px; margin-left: 100px;">
 <%= link_to 'Home', home_index_path, class: "button is-link is-outlined" %>
</div>
<%= current_user.email if current_user.present? %>
<div class="dropdown is-hoverable is-pulled-right">
  <div class="dropdown-trigger">
    <button class="button" aria-haspopup="true" aria-controls="dropdown-menu4">
      <span> <%= current_user.username.present?  ? current_user.username.capitalize : 'Hello User'  %></span>
      <span class="icon is-small">
        <i class="fas fa-angle-down" aria-hidden="true"></i>
      </span>
    </button>
  </div>
  <div class="dropdown-menu" id="dropdown-menu4" role="menu">
    <div class="dropdown-content">
      <div class="dropdown-item">
         <%= link_to 'profile', edit_user_path(id: current_user.id) %>
        </div>
        <div class="dropdown-item">
          <%= link_to "logout", destroy_user_session_path, method: :delete %>
      </div>
    </div>
    </div>
</div>


 

<div class="columns ">
  
  

  <div class="column">
    <div class="box" style="width: 500px; margin-left: 320px; text-align:center">
      <%= link_to 'Ask Questions', submit_path %>
    </div>
    <% @user_posts.each do |post| %>
    <div class="box" style="width: 500px; margin-left: 320px;" >
     
      <h4 class="title is-4"> <%= post.title %></h4>
      <hr>
     <p><%= post.description %></p> 
     <br>
     <span class="tag">
       <%= post.answers.size %>  <%= link_to 'comment', answers_path(id: post.id) %> 
      </span>
      <div style="display: inline-block; padding: 10px;" >
        <%= button_to "save", saveposts_path(saveposts: {id: post}) %> 
     </div>
  </div>
<% end %>
  </div>
 
  
    <div class="column ">
      <div class="box" style=" width: 350px" >
        <p style="font-size: 40px;"> Trending Communities  </p>
        <% @trends.each_with_index do |trend, index| %>
         <% final_index = index+1 %>
          <p> <%= final_index %> <%=  trend %>  </p>
        <% end %>
        <hr>
      </div>

      <div class="box" style="width: 350px; ">
        <%  @user = current_user %>
        <%= form_with model: @user.communities.build do |f| %>
       
            <div class="field">
              <label class="label">Name</label>
              <%= f.text_field :name, class: "input", placeholder: 'enter the name' %>
            </div>      
          <%= f.submit  'Add communites', class: 'button is-success'  %>
          <% end %>
          <% if @communities.present? %>
          <% @communities.each do |key, name| %>
          
           <%= link_to name, comments_path(id: key) %> 
          <%= button_to "join", memberships_path(membership: {community_id: key, user_id: current_user})  %> 
 
          <% end %>
          <% end %>
      </div>

      <div class="box" style="width: 150px;">
       <%= link_to "savedpost", saveposts_path %>
      </div>
     </div>

     
      
  
</div>



 







