

create communites her 
<div style="margin-top: 20px; margin-left: 100px;">
 <%= link_to 'Home', home_index_path, class: "button is-link is-outlined" %>
</div>

<%= button_to "logout", destroy_user_session_path, method: :delete, class: 'button is-link is-outlined is-pulled-right' %>
<%= current_user.email if current_user.present? %>
<div class="columns " >
  
  <div class="column">
    <% @user_posts.each do |post| %>
    <div class="box" style="width: 500px; margin-left: 320px;" >
     
      <h4 class="title is-4"> <%= post.title %></h4>
      <hr>
     <p><%= post.description %></p> 
     <%= button_to "save", saveposts_path(saveposts: {id: post})%>
  </div>
<% end %>
  </div>
 
  
    <div class="column ">
      <div class="box" style=" width: 350px" >
        <p style="font-size: 40px;"> Trending Communities  </p>
        <% @trends.each_with_index do |trend, index| %>
         <% final_index = index+1 %>
          <p> <%= final_index %> <%=  trend %>  </p>
        <% end %>
        <hr>
      </div>

      <div class="box" style="width: 350px; ">
        <%  @user = current_user %>
        <%= form_with model: @user.communities.build do |f| %>
       
            <div class="field">
              <label class="label">Name</label>
              <%= f.text_field :name, class: "input", placeholder: 'enter the name' %>
            </div>      
          <%= f.submit  'Add communites', class: 'button is-success'  %>
          <% end %>
          <% if @communities.present? %>
          <% @communities.each do |c| %>
          
          <p> <%= link_to c.name, comments_path(id: c.id) %> 
    
            <%= button_to "join", memberships_path(membership: {community_id: c.id, user_id: current_user})  %> </p>
          <% end %>
          <% end %>
      </div>

      <div class="box" style="width: 150px;">
       <%= link_to "savedpost", saveposts_path %>
      </div>
     </div>

     
      
  
</div>



 







